In [1]:
import pandas as pd

In [2]:
dnase_name_counts=pd.read_csv("configs/data/counts.tomtom_dnase.tsv",sep="\t")
atac_name_counts=pd.read_csv("configs/data/counts.tomtom.tsv",sep="\t")
dnase_name_counts=pd.read_csv("configs/data/profile.tomtom_dnase.tsv",sep="\t")
atac_name_counts=pd.read_csv("configs/data/profile.tomtom.tsv",sep="\t")

In [3]:
dnase_rename = {"CTCF.1":"CTCF","CTCF.2":"CTCF","FOSL1+JUN\n":"FOSL1+JUN","ATF1":"AP1","ATF1.1":"AP1","BACH.1":"AP1","BACH":"AP1","ETV4":"ELK","ZN143":"ZNF76","JUND":"AP1","CEBPG":"AP1"}
atac_rename = {"BACH.1":"AP1","CTCF.2":"CTCF","FOSL1+JUN\n":"FOSL1+JUN","ATF1":"AP1","ATF1.1":"AP1","BACH":"AP1","ETV4":"ELK","ZN143":"ZNF76","JUND":"AP1","CEBPG":"AP1"}

In [4]:
dnase_name_counts=dnase_name_counts[~dnase_name_counts['Pattern'].str.contains("metacluster_1",case=False)] 
atac_name_counts=atac_name_counts[~atac_name_counts['Pattern'].str.contains("metacluster_1",case=False)] 
#dnase_name_profile=dnase_name_profile[~dnase_name_profile['Pattern'].str.contains("metacluster_1",case=False)] 
#atac_name_profile=atac_name_profile[~atac_name_profile['Pattern'].str.contains("metacluster_1",case=False)]

In [5]:
atac_name_counts.head()

,Pattern,Num_Seqlets,Label,Match_1,q-value,Match_2,q-value.1,Match_3,q-value.2,Match_4,...,Match_6,q-value.5,Match_7,q-value.6,Match_8,q-value.7,Match_9,q-value.8,Match_10,q-value.9
0,metacluster_0.pattern_0,12328,CTCF,CTCF_MA0139.1,6.022920e-16,CTCF_HUMAN.H11MO.0.A,4.484320e-12,CTCF_MOUSE.H11MO.0.A,2.410180e-11,CTCFL_HUMAN.H11MO.0.A,...,CTCF_C2H2_1,0.000001,CTCFL_MA1102.1,0.000009,ZIC2_MOUSE.H11MO.0.C,0.149541,ZIC3_HUMAN.H11MO.0.B,0.149541,ZIC3_MOUSE.H11MO.0.A,0.149541
1,metacluster_0.pattern_1,8855,SP1/KLF,SP1_MA0079.3,2.490790e-05,KLF3_HUMAN.H11MO.0.B,3.044300e-05,KLF3_MOUSE.H11MO.0.A,3.044300e-05,KLF12_HUMAN.H11MO.0.C,...,SP3_MOUSE.H11MO.0.B,0.000034,KLF5_MA0599.1,0.000055,SP1_MOUSE.H11MO.0.A,0.000068,KLF6_HUMAN.H11MO.0.A,0.000071,KLF6_MOUSE.H11MO.0.B,0.000071
2,metacluster_0.pattern_2,6335,GATA,GATA3_GATA_1,3.613360e-02,GATA3_MA0037.3,3.613360e-02,GATA4_HUMAN.H11MO.0.A,3.613360e-02,GATA4_MOUSE.H11MO.0.A,...,GATA1_HUMAN.H11MO.0.A,0.064522,GATA2_HUMAN.H11MO.0.A,0.064522,GATA3_GATA_2,0.223267,GATA2_MOUSE.H11MO.0.A,0.223267,GATA3_HUMAN.H11MO.0.A,0.223267
3,metacluster_0.pattern_3,3474,BACH,BACH2_HUMAN.H11MO.0.A,1.114830e-05,BACH2_MOUSE.H11MO.0.A,1.114830e-05,BACH1_HUMAN.H11MO.0.A,2.297010e-05,BACH2_MA1101.1,...,NFE2_HUMAN.H11MO.0.A,0.000023,NF2L2_MOUSE.H11MO.0.A,0.000025,MAF+NFE2_MA0501.1,0.000026,NF2L2_HUMAN.H11MO.0.A,0.000028,NFE2_MOUSE.H11MO.0.A,0.000028
4,metacluster_0.pattern_4,3199,NFYB,NFYA_HUMAN.H11MO.0.A,7.354470e-05,NFYA_MOUSE.H11MO.0.A,7.354470e-05,NFYC_HUMAN.H11MO.0.A,7.354470e-05,NFYB_HUMAN.H11MO.0.A,...,NFYC_MOUSE.H11MO.0.B,0.000168,NFYB_MA0502.1,0.000168,NFYA_MA0060.3,0.007816,FOXI1_HUMAN.H11MO.0.B,0.007816,FOXI1_MOUSE.H11MO.0.B,0.007816

In [6]:
dnase_name_counts.head()

,Pattern,Num_Seqlets,Label,Match_1,q-value,Match_2,q-value.1,Match_3,q-value.2,Match_4,...,Match_6,q-value.5,Match_7,q-value.6,Match_8,q-value.7,Match_9,q-value.8,Match_10,q-value.9
0,metacluster_0.pattern_0,11500,GATA,GATA3_GATA_1,3.543490e-01,GATA3_GATA_2,3.543490e-01,GATA3_MA0037.3,3.543490e-01,GATA4_GATA_1,...,GATA5_MA0766.1,0.354349,GATA4_HUMAN.H11MO.0.A,0.354349,GATA4_MOUSE.H11MO.0.A,0.354349,GATA6_MOUSE.H11MO.0.A,0.354349,GATA2_MA0036.3,0.354349
1,metacluster_0.pattern_1,11363,CTCF,CTCF_MA0139.1,1.282580e-17,CTCF_HUMAN.H11MO.0.A,5.348250e-13,CTCF_MOUSE.H11MO.0.A,4.938400e-11,CTCFL_HUMAN.H11MO.0.A,...,CTCF_C2H2_1,0.000001,CTCFL_MA1102.1,0.000009,ZIC2_MOUSE.H11MO.0.C,0.158752,ZIC3_HUMAN.H11MO.0.B,0.158752,ZIC3_MOUSE.H11MO.0.A,0.158752
2,metacluster_0.pattern_2,9767,SP1/KLF,SP1_MA0079.3,4.130990e-05,KLF5_MA0599.1,4.130990e-05,KLF6_HUMAN.H11MO.0.A,4.130990e-05,KLF6_MOUSE.H11MO.0.B,...,KLF3_HUMAN.H11MO.0.B,0.000054,KLF3_MOUSE.H11MO.0.A,0.000054,SP3_HUMAN.H11MO.0.B,0.000092,SP3_MOUSE.H11MO.0.B,0.000092,SP1_MOUSE.H11MO.0.A,0.000110
3,metacluster_0.pattern_3,5415,BACH,FOS_HUMAN.H11MO.0.A,2.466550e-03,JUN_MOUSE.H11MO.0.A,2.466550e-03,FOSL2_MOUSE.H11MO.0.A,2.466550e-03,JUNB_HUMAN.H11MO.0.A,...,JUND_MOUSE.H11MO.0.A,0.002467,JUN_HUMAN.H11MO.0.A,0.002467,FOSL1_HUMAN.H11MO.0.A,0.002467,FOSL1_MOUSE.H11MO.0.A,0.002467,FOSL2_HUMAN.H11MO.0.A,0.002467
4,metacluster_0.pattern_4,2143,NFIA,NFIA_HUMAN.H11MO.0.C,8.455450e-06,NFIA_MOUSE.H11MO.0.C,8.455450e-06,NFIC+TLX1_MA0119.1,1.041890e-05,NFIA_NFI_1,...,NFIC_HUMAN.H11MO.0.A,0.000068,NFIB_NFI_1,0.000153,AP2C_MOUSE.H11MO.0.A,0.136726,NFIX_NFI_4,0.268777,NFIB_MOUSE.H11MO.0.C,0.277338

In [7]:
dnase_name_counts["Label"].replace(dnase_rename, inplace=True)
atac_name_counts["Label"].replace(atac_rename, inplace=True)

In [8]:
temp = dnase_name_counts.groupby(["Label"]).sum()
dnase_name_counts = temp.loc[:,temp.columns.isin(["Label","Num_Seqlets"])]
dnase_name_counts.loc[:,"Num_Seqlets"] = dnase_name_counts["Num_Seqlets"]/sum(dnase_name_counts["Num_Seqlets"])

/users/anusri/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [9]:
temp = atac_name_counts.groupby(["Label"]).sum()
atac_name_counts = temp.loc[:,temp.columns.isin(["Label","Num_Seqlets"])]
atac_name_counts.loc[:,"Num_Seqlets"] = atac_name_counts["Num_Seqlets"]/sum(atac_name_counts["Num_Seqlets"])

In [10]:
dnase_name_counts.sort_values(by=["Num_Seqlets"],ascending=False)
#dnase_name_counts = dnase_name_counts[dnase_name_counts.loc[:,"Num_Seqlets"]>0.005].sort_values(by=["Num_Seqlets"],ascending=False)

#atac_name_counts[atac_name_counts.loc[:,"Num_Seqlets"]>0.01]

           Num_Seqlets
Label
GATA          0.214612
CTCF          0.212056
SP1/KLF       0.182271
AP1           0.142465
NFIA          0.039993
NFYB          0.036185
ELK           0.035551
GC            0.030064
ARNTL         0.023010
NRF1          0.016646
RFX           0.015321
DIMER         0.010357
ZNF76         0.010339
STA5A         0.009611
FOSL1+JUN     0.007894
REST          0.005132
TYY1          0.004871
ZBTB33        0.003620

In [11]:
atac_name_counts = atac_name_counts.sort_values(by=["Num_Seqlets"],ascending=False)

In [12]:
merged = dnase_name_counts.merge(atac_name_counts, on="Label", how="outer").dropna()
merged.columns = ["DNASE", "ATAC"]

In [13]:
merged_new=pd.DataFrame()
merged_new["Label"]=merged.index.tolist()+merged.index.tolist()
merged_new["Source"]=["ATAC"]*merged["ATAC"].shape[0]+["DNASE"]*merged["DNASE"].shape[0]
merged_new["Value"]=merged["ATAC"].tolist()+merged["DNASE"].tolist()

In [14]:
merged_new.to_csv("configs/data/atac_versus_dnase_profile_compare.tsv",sep=",",header=False,index=False)

In [15]:
merged_new

        Label Source     Value
0         AP1   ATAC  0.124638
1       ARNTL   ATAC  0.021760
2        CTCF   ATAC  0.255116
3       DIMER   ATAC  0.009852
4         ELK   ATAC  0.066041
5   FOSL1+JUN   ATAC  0.018696
6        GATA   ATAC  0.130293
7          GC   ATAC  0.040641
8        NFIA   ATAC  0.016536
9        NFYB   ATAC  0.065795
10       NRF1   ATAC  0.019066
11       REST   ATAC  0.002879
12        RFX   ATAC  0.003188
13    SP1/KLF   ATAC  0.182123
14      STA5A   ATAC  0.002859
15       TYY1   ATAC  0.018079
16     ZBTB33   ATAC  0.003640
17      ZNF76   ATAC  0.016598
18        AP1  DNASE  0.142465
19      ARNTL  DNASE  0.023010
20       CTCF  DNASE  0.212056
21      DIMER  DNASE  0.010357
22        ELK  DNASE  0.035551
23  FOSL1+JUN  DNASE  0.007894
24       GATA  DNASE  0.214612
25         GC  DNASE  0.030064
26       NFIA  DNASE  0.039993
27       NFYB  DNASE  0.036185
28       NRF1  DNASE  0.016646
29       REST  DNASE  0.005132
30        RFX  DNASE  0.015321
31    SP1/KLF  DNASE  0.182271
32      STA5A  DNASE  0.009611
33       TYY1  DNASE  0.004871
34     ZBTB33  DNASE  0.003620
35      ZNF76  DNASE  0.010339